<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="./assets/css/style.css">

        <title>Webmation</title>
    </head>
    <body>
        
        <canvas id="gameCanvas">
            Your browser does not support the HTML5 canvas element. Please use a more modern browser like Google Chrome or Firefox.
        </canvas>


        <script src="./assets/js/program.js"></script>

    </body>
</html>